In [1]:
import sys
import os


sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
print(sys.path[-1])

/home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali

In [2]:
BASE_DIR = os.path.dirname(os.getcwd())
META_DIR = os.path.join(BASE_DIR, "meta")
DB_DIR = os.path.join(BASE_DIR, "data", "db")

print(f"{'BASE_DIR':<15}{BASE_DIR}")
print(f"{'META_DIR':<15}{META_DIR}")
print(f"{'DB_DIR':<15}{DB_DIR}")

BASE_DIR       /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali
META_DIR       /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/meta
DB_DIR         /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db

In [3]:
import pandas as pd
import random

from src.utils import select_domains, download_and_process_domains

In [4]:
df = pd.read_csv(os.path.join(META_DIR, "astral.csv"))
df

,domain_id,scop_code,class,fold,superfamily,family,pdb_id,chain,residues,protein_name,organism
0,d1dlwa_,a.1.1.1,a,1,1,1,1dlw,A,NaN,Protozoan/bacterial hemoglobin,Ciliate (Paramecium caudatum) [TaxId: 5885]
1,d2gkma_,a.1.1.1,a,1,1,1,2gkm,A,NaN,Protozoan/bacterial hemoglobin,"Mycobacterium tuberculosis, HbN [TaxId: 1773]"
2,d1ngka_,a.1.1.1,a,1,1,1,1ngk,A,NaN,Protozoan/bacterial hemoglobin,"Mycobacterium tuberculosis, HbO [TaxId: 1773]"
3,d2bkma_,a.1.1.1,a,1,1,1,2bkm,A,NaN,automated matches,Geobacillus stearothermophilus [TaxId: 1422]
4,d4i0va_,a.1.1.1,a,1,1,1,4i0v,A,NaN,automated matches,Synechococcus sp. [TaxId: 32049]
...,...,...,...,...,...,...,...,...,...,...,...
15172,d6id0n_,g.99.1.1,g,99,1,1,6id0,N,NaN,automated matches,Human (Homo sapiens) [TaxId: 9606]
15173,d5lj3n2,g.100.1.1,g,100,1,1,5lj3,N,6-144,"Pre-mRNA splicing factor Cwf5 / Ecm2 / Stl11, ...",Baker's yeast (Saccharomyces cerevisiae) [TaxI...
15174,d5syba_,g.101.1.1,g,101,1,1,5syb,A,NaN,Pre-mRNA splicing factor Phf5 / Rds3,Human (Homo sapiens) [TaxId: 9606]
15175,d5fyza2,g.102.1.0,g,102,1,0,5fyz,A,623-753,automated matches,Human (Homo sapiens) [TaxId: 9606]
15176,d4g26a2,g.103.1.1,g,103,1,1,4g26,A,NaN,Proteinaceous RNAse P1 (PRORP1),Thale cress (Arabidopsis thaliana) [TaxId: 3702]

For each query get:
- `m` proteins from the same family
- `m` proteins from the same superfamily and different family
- `m` proteins from the same fold and different superfamily and family
- `m` proteins from the same class and different fold and superfamily and family
- `m` proteins from different class and fold and superfamily and family

$m*5$ comparisons for each of the `n` queries

In [5]:
# --- Configuration Parameters ---
N_queries = 5
M_references = 5
seed = 66

rng = random.Random(seed)

In [6]:
queries, to_download = select_domains(df, N_queries, M_references, rng)

Query: d1fi6a_ (Class: a, Fold: 39, Superfamily: 1, Family: 6)
  - Different class: ['d2el5a1', 'd6l27a_', 'd4a1ia2', 'd3jb9c_', 'd7m32a5']
  - Same class, different fold: ['d3elka_', 'd1ft9a1', 'd2eufa2', 'd1rrza_', 'd1gaia_']
  - Same fold, different superfamily: ['d2ciwa2', 'd3r72a_', 'd6jpma_', 'd1ooha1', 'd2ciwa1']
  - Same superfamily, different family: ['d1s6ia_', 'd4ocia1', 'd1exra_', 'd2r2ia_', 'd1a4pa_']
  - Same family: ['d1qjta_']

Query: d7dhfa1 (Class: c, Fold: 44, Superfamily: 1, Family: 0)
  - Different class: ['d2wsda1', 'd1e3pa7', 'd5my6a2', 'd4e9sa3', 'd3dl3a1']
  - Same class, different fold: ['d5tu0a_', 'd3i33a1', 'd1g5qa_', 'd7kg8a_', 'd1wmaa1']
  - Same fold, different superfamily: ['d2kyra_', 'd1yvua3', 'd4g0xa1', 'd1u04a3', 'd1iiba_']
  - Same superfamily, different family: ['d1jf8a_', 'd1y1la_', 'd7kh8a1']
  - Same family: ['d1u2pa_', 'd4etna1', 'd6u1pa_', 'd2myna_', 'd3rh0a_']

Query: d2gjva1 (Class: d, Fold: 323, Superfamily: 1, Family: 2)
  - Different class: ['d4g3ha_', 'd2zosa1', 'd4uyba2', 'd2c2ua_', 'd4a82a1']
  - Same class, different fold: ['d1w5fa2', 'd2y28a_', 'd3ivza_', 'd4n6ob1', 'd2kv3a1']
  - Same fold, different superfamily: []
  - Same superfamily, different family: ['d3fz2a1']
  - Same family: []

Query: d4bcda1 (Class: b, Fold: 69, Superfamily: 7, Family: 1)
  - Different class: ['d2zgya1', 'd3ddja2', 'd2rbca_', 'd5efza_', 'd2en2a1']
  - Same class, different fold: ['d5sv5a_', 'd1rlwa_', 'd1neua_', 'd1wjra1', 'd2g3ra1']
  - Same fold, different superfamily: ['d7kn8a2', 'd6xlra2', 'd5gmkn1', 'd6e1za_', 'd1erja_']
  - Same superfamily, different family: ['d7ne5a1', 'd1yr2a1', 'd3ivma1', 'd2hu7a1', 'd2bkla1']
  - Same family: ['d5n4fa2']

Query: d3brma_ (Class: e, Fold: 3, Superfamily: 1, Family: 2)
  - Different class: ['d2kx4a_', 'd1y29a_', 'd3cuma4', 'd5ym6a_', 'd1iq0a1']
  - Same class, different fold: ['d4wera1', 'd3vdpa_', 'd3zeda_', 'd2qv7a1', 'd2xq1a_']
  - Same fold, different superfamily: []
  - Same superfamily, different family: ['d2ffya_', 'd5ctma_', 'd1ei5a3', 'd2d83a_', 'd2qpna_']
  - Same family: ['d1u60a_']

In [7]:
to_download = queries + to_download
to_download

['d1fi6a_',
 'd7dhfa1',
 'd2gjva1',
 'd4bcda1',
 'd3brma_',
 'd2el5a1',
 'd6l27a_',
 'd4a1ia2',
 'd3jb9c_',
 'd7m32a5',
 'd3elka_',
 'd1ft9a1',
 'd2eufa2',
 'd1rrza_',
 'd1gaia_',
 'd2ciwa2',
 'd3r72a_',
 'd6jpma_',
 'd1ooha1',
 'd2ciwa1',
 'd1s6ia_',
 'd4ocia1',
 'd1exra_',
 'd2r2ia_',
 'd1a4pa_',
 'd1qjta_',
 'd2wsda1',
 'd1e3pa7',
 'd5my6a2',
 'd4e9sa3',
 'd3dl3a1',
 'd5tu0a_',
 'd3i33a1',
 'd1g5qa_',
 'd7kg8a_',
 'd1wmaa1',
 'd2kyra_',
 'd1yvua3',
 'd4g0xa1',
 'd1u04a3',
 'd1iiba_',
 'd1jf8a_',
 'd1y1la_',
 'd7kh8a1',
 'd1u2pa_',
 'd4etna1',
 'd6u1pa_',
 'd2myna_',
 'd3rh0a_',
 'd4g3ha_',
 'd2zosa1',
 'd4uyba2',
 'd2c2ua_',
 'd4a82a1',
 'd1w5fa2',
 'd2y28a_',
 'd3ivza_',
 'd4n6ob1',
 'd2kv3a1',
 'd3fz2a1',
 'd2zgya1',
 'd3ddja2',
 'd2rbca_',
 'd5efza_',
 'd2en2a1',
 'd5sv5a_',
 'd1rlwa_',
 'd1neua_',
 'd1wjra1',
 'd2g3ra1',
 'd7kn8a2',
 'd6xlra2',
 'd5gmkn1',
 'd6e1za_',
 'd1erja_',
 'd7ne5a1',
 'd1yr2a1',
 'd3ivma1',
 'd2hu7a1',
 'd2bkla1',
 'd5n4fa2',
 'd2kx4a_',
 'd1y29a_',
 'd3cuma4',
 'd5ym6a_',
 'd1iq0a1',
 'd4wera1',
 'd3vdpa_',
 'd3zeda_',
 'd2qv7a1',
 'd2xq1a_',
 'd2ffya_',
 'd5ctma_',
 'd1ei5a3',
 'd2d83a_',
 'd2qpna_',
 'd1u60a_']

In [8]:
to_download_df = df.loc[
    df["domain_id"].isin(to_download),
    [
        "domain_id", "pdb_id", "chain", "residues"
    ]
]
to_download_df

      domain_id pdb_id chain residues
284     d1ft9a1   1ft9     A  134-213
524     d3elka_   3elk     A      NaN
684     d1rrza_   1rrz     A      NaN
927     d2c2ua_   2c2u     A      NaN
988     d1iq0a1   1iq0     A  467-592
...         ...    ...   ...      ...
14362   d4a82a1   4a82     A    1-323
14491   d1y29a_   1y29     A      NaN
14542   d5my6a2   5my6     A  188-344
14838   d2el5a1   2el5     A     8-33
14839   d2en2a1   2en2     A     8-34

[97 rows x 4 columns]

In [ ]:
download_and_process_domains(to_download_df, DB_DIR)

Starting domain processing. Output will be saved in '/home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db'

Processing domain: d1ft9a1 (PDB: 1ft9, Chain: A)...
  -> Selecting residues: '134:213'
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1ft9a1.pdb

Processing domain: d3elka_ (PDB: 3elk, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d3elka_.pdb

Processing domain: d1rrza_ (PDB: 1rrz, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1rrza_.pdb

Processing domain: d2c2ua_ (PDB: 2c2u, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d2c2ua_.pdb

Processing domain: d1iq0a1 (PDB: 1iq0, Chain: A)...
  -> Selecting residues: '467:592'
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1iq0a1.pdb

Processing domain: d1a4pa_ (PDB: 1a4p, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1a4pa_.pdb

Processing domain: d1s6ia_ (PDB: 1s6i, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1s6ia_.pdb

Processing domain: d1exra_ (PDB: 1exr, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1exra_.pdb

Processing domain: d1qjta_ (PDB: 1qjt, Chain: A)...
  -> Selecting entire chain (no residues specified).
  -> SUCCESS: Saved to /home/cotsios/dsit/2nd-semester/algos-in-mol-bio/py-dali/data/db/d1qjta_.pdb

Processing domain: d1fi6a_ (PDB: 1fi6, Chain: A)...
  -> Selecting entire chain (no residues specified).